.collapsible-closed {
  width: 65px;
}

.collapsible-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out,
    padding 0.3s ease-out;
  padding: 0 8px;
}

.collapsible-content.open {
  max-height: 700px;
  opacity: 1;
  padding: 4px;
  overflow-y: auto;
}

.collapsible-content.closed {
  padding: 0 8px;
}

.collapsible-toggle {
  color: white;
  background-color: rgb(45 55 70);
  border-radius: 5px;
  border: 2px solid rgb(64 75 91);
  margin: 0;
}

@media (width < 670px) {
  .collapsible-content.open {
    max-height: 900px;
  }
}
