.tablas-container {
  width: 480px;
}

.tabla-ha {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.titulo-tabla-ha {
  font-weight: bold;
  padding: 1rem;
  text-align: center;
  border: 1px solid black;
  background-color: #5577b4;
}

.elemento-tabla-ha {
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  /* vertical-align: top; */
}

.img-tabla-ha {
  width: 64px;
  height: 64px;
  object-fit: contain;
  border: none;
}

.name-tabla-ha {
  color: #143c78;
  font-weight: 600;
  text-align: center;
}

.description-tabla-ha {
  font-weight: 600;
  color: #282828;
}
